@import './styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #fbf8ec;
  font-family: "Rubik", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}